openapi: 3.0.0
info:
  contact:
    email: contact@blockfrost.io
    name: Blockfrost Team
    url: https://blockfrost.io
  description: "Blockfrost is an API as a service that allows users to interact with\
    \ the Cardano blockchain and parts of its ecosystem.\n\n## Authentication\n\n\
    After signing up on https://blockfrost.io, a `project_id` token is automatically\
    \ generated for each project.\nHTTP header of your request MUST include this `project_id`\
    \ in order to authenticate against Blockfrost servers.\n\n## Available networks\n\
    \nAt the moment, you can use the following networks. Please, note that each network\
    \ has its own `project_id`.\n\n<table>\n  <tr><td><b>Network</b></td><td><b>Endpoint</b></td></tr>\n\
    \  <tr><td>Cardano mainnet</td><td><tt>https://cardano-mainnet.blockfrost.io/api/v0</td></tt></tr>\n\
    \  <tr><td>Cardano testnet</td><td><tt>https://cardano-testnet.blockfrost.io/api/v0</tt></td></tr>\n\
    \  <tr><td>InterPlanetary File System</td><td><tt>https://ipfs.blockfrost.io/api/v0</tt></td></tr>\n\
    </table>\n\n## Concepts\n\n* All endpoints return either a JSON object or an array.\n\
    * Data is returned in *ascending* (oldest first, newest last) order.\n  * You\
    \ might use the `?order=desc` query parameter to reverse this order.\n* By default,\
    \ we return 100 results at a time. You have to use `?page=2` to list through the\
    \ results.\n* All time and timestamp related fields are in milliseconds of UNIX\
    \ time.\n* All amounts are returned in Lovelaces, where 1 ADA = 1 000 000 Lovelaces.\n\
    * Addresses, accounts and pool IDs are in Bech32 format.\n* All values are case\
    \ sensitive.\n* All hex encoded values are lower case.\n* Examples are not based\
    \ on real data. Any resemblance to actual events is purely coincidental.\n* We\
    \ allow to upload files up to 100MB of size to IPFS. This might increase in the\
    \ future.\n\n## Errors\n\n### HTTP Status codes\n\nThe following are HTTP status\
    \ code your application might receive when reaching Blockfrost endpoints and\n\
    it should handle all of these cases.\n\n* HTTP `400` return code is used when\
    \ the request is not valid.\n* HTTP `402` return code is used when the projects\
    \ exceed their daily request limit.\n* HTTP `403` return code is used when the\
    \ request is not authenticated.\n* HTTP `404` return code is used when the resource\
    \ doesn't exist.\n* HTTP `418` return code is used when the user has been auto-banned\
    \ for flooding too much after previously receiving error code `402` or `429`.\n\
    * HTTP `429` return code is used when the user has sent too many requests in a\
    \ given amount of time and therefore has been rate-limited.\n* HTTP `500` return\
    \ code is used when our endpoints are having a problem.\n\n### Error codes\n\n\
    An internal error code number is used for better indication of the error in question.\
    \ It is passed using the following payload.\n\n```json\n{\n  \"status_code\":\
    \ 403,\n  \"error\": \"Forbidden\",\n  \"message\": \"Invalid project token.\"\
    \n}\n```\n## Limits\n\n There are two types of limits we are enforcing. The first\
    \ depends on your plan and is the number of request we allow per day. We defined\n\
    \ the day from midnight to midnight of UTC time. The second is rate limiting,\
    \ where we limit an end user to 10 requests per second after a period\n of 5 second\
    \ burst. We believe this should be sufficient for most of the use cases. If it\
    \ is not and you have a specific use case, please get in touch with us, and\n\
    \ we will make sure to take it into account as much as we can.\n\n# Authentication\n\
    \n<!-- ReDoc-Inject: <security-definitions> -->"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://blockfrost.io/terms
  title: Blockfrost.io ~ API Documentation
  version: 0.1.11
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
servers:
- description: Cardano Mainnet network
  url: https://cardano-mainnet.blockfrost.io/api/v0/
- description: Cardano Testnet network
  url: https://cardano-testnet.blockfrost.io/api/v0/
- description: local
  url: https://localhost:3000
security:
- ApiKeyAuth: []
tags:
- name: Health
- name: Metrics
- name: Cardano » Accounts
- name: Cardano » Addresses
- name: Cardano » Assets
- name: Cardano » Blocks
- name: Cardano » Epochs
- name: Cardano » Ledger
- name: Cardano » Metadata
- name: Cardano » Pools
- name: Cardano » Transactions
- name: IPFS » Add
- name: IPFS » Gateway
- name: IPFS » Pins
paths:
  /:
    get:
      description: |
        Root endpoint has no other function than to point end users to documentation.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Information pointing to the documentation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      security: []
      summary: Root endpoint
      tags:
      - Health
      x-accepts: application/json
  /health:
    get:
      description: |
        Return backend status as a boolean. Your application
            should handle situations when backend for the given chain is unavailable.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Return the boolean indicating the health of the backend.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      security: []
      summary: Backend health status
      tags:
      - Health
      x-accepts: application/json
  /health/clock:
    get:
      description: |
        This endpoint provides the current UNIX time. Your application might
        use this to verify if the client clock is not out of sync.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Return the current UNIX time in milliseconds.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      security: []
      summary: Current backend time
      tags:
      - Health
      x-accepts: application/json
  /blocks/latest:
    get:
      description: "Return the latest block available to the backends, also known\
        \ as the\ntip of the blockchain.\n"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_content'
          description: Return the contents of the latest block.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Latest block
      tags:
      - Cardano » Blocks
      x-accepts: application/json
  /blocks/{hash_or_number}:
    get:
      description: |
        Return the content of a requested block.
      parameters:
      - description: Hash of the requested block.
        example: 4ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a
        explode: false
        in: path
        name: hash_or_number
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string or block number.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_content'
          description: Return the contents of the block
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Specific block
      tags:
      - Cardano » Blocks
      x-accepts: application/json
  /blocks/{hash_or_number}/next:
    get:
      description: |
        Return the list of blocks following a specific block.
      parameters:
      - description: Hash of the requested block.
        example: 5ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a
        explode: false
        in: path
        name: hash_or_number
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string or block number.
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_content_array'
          description: Return the contents of the block.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Listing of next blocks
      tags:
      - Cardano » Blocks
      x-accepts: application/json
  /blocks/{hash_or_number}/previous:
    get:
      description: |
        Return the list of blocks preceding a specific block.
      parameters:
      - description: Hash of the requested block
        example: "4873401"
        explode: false
        in: path
        name: hash_or_number
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string or block number.
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_content_array'
          description: Return the contents of the block
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Listing of previous blocks
      tags:
      - Cardano » Blocks
      x-accepts: application/json
  /blocks/{hash_or_number}/txs:
    get:
      description: Return the transactions within the block.
      parameters:
      - description: Hash of the requested block.
        example: "4873401"
        explode: false
        in: path
        name: hash_or_number
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string or block number.
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "Ordered by tx index in the block.\nThe ordering of items from\
          \ the point of view of the blockchain,\nnot the page listing itself. By\
          \ default, we return oldest first, newest last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_content_txs'
          description: Return the transactions within the block.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Block transactions
      tags:
      - Cardano » Blocks
      x-accepts: application/json
  /genesis:
    get:
      description: Return the information about blockchain genesis.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genesis_content'
          description: Return the genesis parameters.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Blockchain genesis
      tags:
      - Cardano » Ledger
      x-accepts: application/json
  /epochs/latest:
    get:
      description: "Return the information about the latest, therefore current, epoch."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Latest epoch
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}:
    get:
      description: Return the content of the requested epoch.
      parameters:
      - description: Number of the epoch
        example: "225"
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_content'
          description: Return the epoch data.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Specific epoch
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/next:
    get:
      description: Return the list of epochs following a specific epoch.
      parameters:
      - description: Number of the requested epoch.
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_content_array'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Listing of next epochs
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/previous:
    get:
      description: Return the list of epochs preceding a specific epoch.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_content_array'
          description: Return the epoch data
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Listing of previous epochs
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/stakes:
    get:
      description: Return the active stake distribution for the epoch specified.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_stake_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Stake distribution
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/stakes/{pool_id}:
    get:
      description: Return the active stake distribution for the epoch specified by
        stake pool.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: Stake pool ID to filter
        example: pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_stake_pool_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Stake distribution by pool
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/blocks:
    get:
      description: Return the blocks minted for the epoch specified.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_block_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Block distribution
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/blocks/{pool_id}:
    get:
      description: Return the block minted for the epoch specified by stake pool.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      - description: Stake pool ID to filter
        example: pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_block_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Block distribution
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /epochs/{number}/parameters:
    get:
      description: Return the protocol parameters for the epoch specified.
      parameters:
      - description: Number of the epoch
        example: 225
        explode: false
        in: path
        name: number
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_param_content'
          description: Return the data about the epoch
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Protocol parameters
      tags:
      - Cardano » Epochs
      x-accepts: application/json
  /txs/{hash}:
    get:
      description: Return content of the requested transaction.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c42c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_content'
          description: Return the contents of the transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Specific transaction
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/utxos:
    get:
      description: Return the inputs and UTXOs of the specific transaction.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_content_utxo'
          description: Return the contents of the transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction UTXOs
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/stakes:
    get:
      description: |
        Obtain information about (de)registration of stake addresses within a transaction.
      parameters:
      - description: Hash of the requested transaction.
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tx_content_stake_addr'
                type: array
          description: |
            Obtain information about (de)registration of stake addresses within a transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction stake addresses certificates
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/delegations:
    get:
      description: |
        Obtain information about delegation certificates of a specific transaction.
      parameters:
      - description: Hash of the requested transaction.
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tx_content_delegations'
                type: array
          description: Obtain information about delegation certificates of a specific
            transaction
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction delegation certificates
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/withdrawals:
    get:
      description: Obtain information about withdrawals of a specific transaction.
      parameters:
      - description: Hash of the requested transaction.
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tx_content_withdrawals'
                type: array
          description: Obtain information about withdrawals of a specific transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction withdrawal
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/pool_updates:
    get:
      description: |
        Obtain information about stake pool registration and update certificates of a specific transaction.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tx_content_pool_certs'
                type: array
          description: Obtain information about stake pool certificates of a specific
            transaction
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction stake pool registration and update certificates
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/pool_retires:
    get:
      description: |
        Obtain information about stake pool retirements within a specific transaction.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tx_content_pool_retires'
                type: array
          description: |
            Obtain information about stake pool retirements within a specific transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction stake pool retirement certificates
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/metadata:
    get:
      description: Obtain the transaction metadata.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_content_metadata'
          description: Obtain information about stake pool retirements within a specific
            transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction metadata
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /txs/{hash}/metadata/cbor:
    get:
      description: Obtain the transaction metadata in CBOR.
      parameters:
      - description: Hash of the requested transaction
        example: 6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
        explode: false
        in: path
        name: hash
        required: true
        schema:
          format: 64-character case-sensitive hexadecimal string.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_content_metadata_cbor'
          description: Obtain information about stake pool retirements within a specific
            transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction metadata in CBOR
      tags:
      - Cardano » Transactions
      x-accepts: application/json
  /tx/submit:
    post:
      description: Submit an already serialized transaction to the network.
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/cbor
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example: d1662b24fa9fe985fc2dce47455df399cb2e31e1e1819339e885801cc3578908
                format: hex
                maxLength: 64
                minLength: 64
                type: string
          description: Return the ID of the submitted transaction.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Submit a transaction
      tags:
      - Cardano » Transactions
      x-code-samples:
      - lang: Shell
        label: cURL
        source: "# Assuming `data` is a serialized transaction on the file-system.\n\
          curl \"https://cardano-mainnet.blockfrost.io/api/v0/tx/submit\" \\\n  -X\
          \ POST \\\n  -H \"Content-Type: application/cbor\" \\\n  -H \"project_id:\
          \ $PROJECT_ID\" \\\n  --data-binary @./data\n"
      x-accepts: application/json
  /accounts/{stake_address}:
    get:
      description: |
        Obtain information about a specific stake account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_content'
          description: Return the account content.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Specific account address
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /accounts/{stake_address}/rewards:
    get:
      description: |
        Obtain information about the history of a specific account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_reward_content'
          description: Return the account content.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Account reward history
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /accounts/{stake_address}/history:
    get:
      description: |
        Obtain information about the history of a specific account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_history_content'
          description: Return the account content.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Account history
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /accounts/{stake_address}/delegations:
    get:
      description: Obtain information about the delegation of a specific account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_delegation_content'
          description: Return the account delegations content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Account delegation history
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /accounts/{stake_address}/registrations:
    get:
      description: |
        Obtain information about the registrations and deregistrations of a specific account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_registration_content'
          description: Return the account registration content.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Account registration history
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /accounts/{stake_address}/addresses:
    get:
      description: Obtain information about the addresses of a specific account.
      parameters:
      - description: Bech32 stake address.
        example: stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_addresses_content'
          description: Return the account addresses content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Account associated addresses
      tags:
      - Cardano » Accounts
      x-accepts: application/json
  /metadata/txs/labels:
    get:
      description: |
        List of all used transaction metadata labels.
      parameters:
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_metadata_labels'
          description: Return the account delegations content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction metadata labels
      tags:
      - Cardano » Metadata
      x-accepts: application/json
  /metadata/txs/labels/{label}:
    get:
      description: Transaction metadata per label.
      parameters:
      - description: Metadata label
        example: "1990"
        explode: false
        in: path
        name: label
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_metadata_label_json'
          description: Return the account delegations content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction metadata content in JSON
      tags:
      - Cardano » Metadata
      x-accepts: application/json
  /metadata/txs/labels/{label}/cbor:
    get:
      description: Transaction metadata per label.
      parameters:
      - description: Metadata label
        example: "1990"
        explode: false
        in: path
        name: label
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx_metadata_label_cbor'
          description: Return the account delegations content in CBOR
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Transaction metadata content in CBOR
      tags:
      - Cardano » Metadata
      x-accepts: application/json
  /addresses/{address}:
    get:
      description: Obtain information about a specific address.
      parameters:
      - description: Bech32 address.
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_content'
          description: Return the address content.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Specific address
      tags:
      - Cardano » Addresses
      x-accepts: application/json
  /addresses/{address}/total:
    get:
      description: Obtain details about an address.
      parameters:
      - description: Bech32 address.
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_content_total'
          description: Return the address' details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Address' details
      tags:
      - Cardano » Addresses
      x-accepts: application/json
  /addresses/{address}/utxos:
    get:
      description: UTXOs of the address.
      parameters:
      - description: Bech32 address.
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results displayed on one page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "Ordered by tx index in the block.\nThe ordering of items from\
          \ the point of view of the blockchain,\nnot the page listing itself. By\
          \ default, we return oldest first, newest last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_utxo_content'
          description: Return the address content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Authentication secret is missing or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: Component not found
        "418":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_418'
          description: IP has been auto-banned for extensive sending of requests after
            usage limit has been reached
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: Usage limit reached
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
          description: Internal Server Error
      summary: Address' UTXOs
      tags:
      - Cardano » Addresses
      x-accepts: application/json
  /addresses/{address}/txs:
    get:
      description: Transactions on the address.
      parameters:
      - description: Bech32 address.
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: The numbers of pools per page.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - description: The page number for listing the results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: "The ordering of items from the point of view of the blockchain,\n\
          not the page listing itself. By default, we return oldest first, newest\
          \ last.\n"
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_txs_content'
          description: Return the address content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
[...]
